@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

#movie-details{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    padding: 1rem;
}

.left{    
    padding: 1rem;
    background-color: rgba(24, 21, 32, 0.712);
}

.extra-info ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.thumbnail{
    width: 14rem
}

.right{
    margin: 1rem;
}

.right h1{
    margin:0;
}

.right strong{
    color: white;
}
.right p{
    color: rgb(196, 113, 5);
}

.right .btn{
    font-family: "Poppins", sans-serif;
    background-color: #f5c518;
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 1rem;
}

.left li{
    color: rgb(152, 152, 153);
}

.left strong{
    color: white;
}

.tags{
    margin-top: 5.5rem;
    float: right;
    margin-right: 2rem;
}

.tags select{
    background-color: transparent;      
    color: white;
    padding: 0.3rem;
    padding-right: 1rem;
    padding-left: 0.4rem;
    
}

.tags option{
    background-color: #323232
}