@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");


* {
  box-sizing: border-box;
}

body {
  background-image: url(./images/home-background.png);
  font-family: "Poppins", sans-serif;
  margin: 0;
  color:white;
}

header {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(9, 11, 19, 0.966);
  z-index: 4;
  transition: 0.6s;
  padding: 0px 35px;
}

.logo{
  padding: 10px;
}

header ul{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  position: relative;
  list-style: none;
}

header ul li a{
  position:relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
  padding-bottom: 5px;
}

header ul li a:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;

}

header ul li a:hover:after{
  transform: scaleX(1);
  transform-origin: left;
}

.logo-and-ul{
  display: flex;
  flex-direction: row;
}
.search {
  border: 2px solid var(white);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.781);
  cursor: pointer;  
  background-color: rgba(5, 5, 87, 0.548);
}

.logo{
  margin-top: 5px;
  margin-bottom: 1px;
}

.back-and-search{
  display: flex;
  align-items: center;
  justify-content: left;
}

.back{
  font-size: 3rem;
  color: white;
  padding: 0rem;
  margin-top:1rem;
  margin-left: 3rem;
}
.search1 {
  border: none;
  border-bottom: 2px solid white;
  font-family: inherit;
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: white;
  padding-left: 20px;
  margin-left: 40px;
}

.search::placeholder {
  color: #eeeeee;
}

.search1:focus {
  outline: none;
}
.search:focus {
  outline: none;
}


.heading-1{
  margin-top: 6rem;
}

h1{
  padding-top: 1rem;
  margin-left: 5rem;
  color:white
}

#cinema {
  display: flex;
  float: left;
  position: relative;
  overflow: hidden;
}
#cinema-s {
  display: flex;
  float: left;
  position: relative;
  overflow: hidden;
}

#lcinema {
  display: flex;
  float: left;
  position: relative;
  overflow: hidden;
}

#ucinema {
  display: flex;
  float: left;
  position: relative;
  overflow: hidden;
}

#tv-series {
  display: flex;
  float: left;
  position: relative;
  overflow: hidden;
}

#tv-series-s {
  display: flex;
  float: left;
  position: relative;
  overflow: hidden;
}

#ltv-series {
  display: flex;
  float: left;
  position: relative;
  overflow: hidden;
}

#utv-series {
  display: flex;
  float: left;
  position: relative;
  overflow: hidden;
}

.scroll-c{
  margin: 4px, 4px; 
  margin-left: 3rem;
  padding: 4px; 
  width: 1160px; 
  overflow: auto; 
  height:400px;
}
.scroll-c::-webkit-scrollbar {
  display: none; /* Chrome and Brave */
}

.scroll-c {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.movie {
  width: 200px;
  height: 300px;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}

.movie img {
  object-fit:cover;  
  height: 100%;
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(0);
  transform: scale(1);  
  
}

.overview {
  color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  font-size: 0.5rem;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  cursor: pointer;
}

.movie:hover {
  width: 220px;
  height: 320px;
  margin-left: 0.4rem;
  margin-right: 0.35rem;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.movie:hover img{
  filter: blur(2px);
  transform: scale(1.2);
  filter: grayscale(50%);
}
.movie:hover .overview {
  transform: translateY(0);
  font-size: 0.9rem;
}




.tv {
  width: 200px;
  height: 300px;
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}

.tv img {
  object-fit:cover;  
  height: 100%;
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(0);
  transform: scale(1);  
  
}

.tv:hover {
  width: 220px;
  height: 320px;
  margin-left: 0.4rem;
  margin-right: 0.35rem;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}

.tv:hover img{
  filter: blur(2px);
  transform: scale(1.2);
  filter: grayscale(50%);
}
.tv:hover .overview {
  transform: translateY(0);
  font-size: 0.9rem;
}

.container{
  margin-top: 10rem;
}

.thumbnail{
  width: 200px;
}